.table_div {
	margin-top: 3%;
	margin-left: 10%;
	width: 80%;
}

.table_div_order {
	margin-top: 3%;
	margin-left: 5%;
	width: 90%;
}


#delete_button{
	background-color: red;
	color: white;
	height: 28px;
	width: 30px;
	padding-left: 7px;
	padding-top: 2px;
}

#edit_button{
	background-color: red;
	color: white;
	height: 28px;
	width: 30px;
	padding-left: 8px;
	padding-top: 4px;
}
