
#footer2{
    background: orange;
    color: rgba(255, 255, 255, 0.9);
    max-height: 100px;
}

#footer-button1{
	background-color: orange;
	color: white;
	margin-top: 10%;
}

#footer-button2{
	background-color: orange;
	color: white;
	margin-top: 3.8%;
}

.footer-div{
	text-align: center;
}

#segment-div{
	background-color: blue;
	color: white;
	padding: 4em 0em;
}

#menu-div{
	background-color: blue;
	
}

#menu-font{
	color: white;
	font-weight: 900;
}




#container{
	padding: 0%;
	position: relative;
}
#container #btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
#container #btn:hover {
  background-color: black;
}