.form-style{
	margin-top: 5%;
	max-width: 80%;
	margin-left: 12%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10%;
}

.form-style-smaller{
	margin-top: 1%;
	max-width: 60%;
	margin-left: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10%;
}

.relative {
	position: relative;
	width: 260px;
	height: 43px;

	/*border: 3px solid #73AD21;*/
}

.absolute{
	position: absolute;
	height: 37px;
	left: 0;
	bottom: 0;

}

.absolute2{
	position: absolute;
	left: 0;
	height: 37px;
	bottom: 0;
	/*border: 3px solid #73AD21;*/

}



/*Add to cart*/

#img-holder{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
	margin-left: 10%;
	width: 35%;
	margin-top: 4%;
	margin-bottom: 10%;
}

#desc-holder{
	float: right;
	width: 38%;
	margin-right: 10%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 7%;
}

.body-font{
	color: #16163a;
	font-size: 20px;
	text-align: center;
}

.label-font{
	color: #16163a;
	font-size: 15px;
}