.add-modal{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 100;
}

.form-style2{
	margin-top: 5%;
	max-width: 55%;
	margin-left: 22.5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10%;
	padding: 30px;
	border-radius: 3px;
}

.form-style-signup{
	margin-top: 5%;
	max-width: 45%;
	margin-left: 27.5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 10%;
	padding: 30px;
	border-radius: 3px;
}

.add-modal .form-style-smaller{
	position: absolute;
	height: auto;
	width: 50%;
	top: 25%;
	left: 25%;
	border-radius: 3px;
	overflow-y: scroll;
	text-align: left;
	background-color: white;
	padding: 20px;
}

.add-modal .form-style-longer{
	position: absolute;
	height: 70%;
	width: 50%;
	top: 20%;
	left: 25%;
	border-radius: 3px;
	overflow-y: scroll;
	background-color: white;
	padding: 20px;
	text-align: left;
}

.add-modal .form-login{
	position: absolute;
	height: auto;
	width: 30%;
	top: 27%;
	left: 35%;
	border-radius: 3px;
	overflow-y: scroll;
	background-color: white;
	padding: 20px;
	text-align: left;
}

.relative {
	position: relative;
	width: 260px;
	height: 43px;

	/*border: 3px solid #73AD21;*/
}

.absolute{
	position: absolute;
	height: 37px;
	left: 0;
	bottom: 0;

}

.absolute2{
	position: absolute;
	left: 0;
	height: 37px;
	bottom: 0;
	/*border: 3px solid #73AD21;*/

}



/*Add to cart*/

#img-holder{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float: left;
	margin-left: 10%;
	width: 35%;
	margin-top: 5%;
	margin-bottom: 10%;
}

#desc-holder2{
	float: right;
	width: 38%;
	margin-right: 10%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 5%;
	padding: 30px 45px 30px 45px;
	margin-bottom: 10%;
}

.div-label{
	margin-top: 2%;
}
