
#view-button{
	padding: 8px 20px;
	margin-left: 67%;
	background-color: #f89d28;
	color: white;
}

#modal-button{
	background-color: #f89d28;
	color: white;
	margin-top: 4%;
	margin-left: 19%;
	height: 28px;
	width: 50px;
	padding-left: 8px;
	padding-top: 7px;
}

#modal-button2{
	background-color: #f89d28;
	color: white;
	margin-top: 4%;
	margin-left: 5%;
	height: 28px;
	width: 50px;
	padding-left: 8px;
	padding-top: 7px;
}

#checkout-button{
	margin-top: 3%;
	background-color: #f89d28;
	color: white;
	height: 35px;
	margin-left: 35%;
}

#checkout-button2{
	margin-top: 3%;
	background-color: #f89d28;
	color: white;
	height: 35px;
	
}

#send-button{
	margin-left: 90%;
	background-color: #f89d28;
	color: white;
}

#signup-button{
	margin-left: 80%;
	background-color: #f89d28;
	color: white;
}

#card-button{
	margin-left: 45%;
	background-color: #f89d28;
	color: white;
}

#cart-button{
	margin-top: 3.2%;
	margin-left: 67%;
	float: left;
	position: absolute;
	padding-top: 4px;
	background-color: transparent;
	color: white;
}

#cart-button-clicked{
	margin-top: 3.2%;
	margin-left: 67%;
	float: left;
	position: absolute;
	padding-top: 4px;
	background-color: transparent;
	color: #f89d28;
}

#footer-button1{
	background-color: #f89d28;
	color: white;
	margin-top: 10%;
}

#footer-button2{
	background-color: #f89d28;
	color: white;
	margin-top: 3.8%;
}

#delete-button{
	background-color: #f89d28;
	color: white;
	height: 28px;
	width: 30px;
	padding-left: 8.5px;
	padding-top: 2px;
}

#edit-button{
	background-color: #f89d28;
	color: white;
	height: 28px;
	width: 30px;
	padding-left: 9px;
	padding-top: 4px;
}

#add-button{
	margin-top: 2.6%;
	margin-left: 66.3%;
	float: left;
	position: absolute;
	padding-top: 4px;
}


#edit-button2{
	background-color: #f89d28;
	color: white;
	margin-left: 72%;
}

#cancel-button{
	background-color: #191167;
	color: white;
}

#yes-button{
	background-color: #f89d28;
	color: white;
	margin-left: 65%;
}



#generic-button{
	background-color: #f89d28;
	color: white;
	padding: 8px;
}

#view-button-dashboard{
	padding: 10px;
	margin-top: 5%;
	margin-left: 29%;
	background-color: #f89d28;
	color: white;
}

#login-button{
	background-color: #191167;
	color: white;
}

#login-button2{
	background-color: #f89d28;
	color: white;
	margin-top: 2%;
	margin-bottom: 2%;
}

#homepage-button{
	background-color: #f89d28;
	color: white;
	padding: 12px 50px;
	margin-top: 3.5%;
}

#homepage-button2{
	background-color: #afa5a5;
	color: white;
	padding: 12px 20px;
	margin-top: 4%;
}