.contact-div{
	margin-left: 20%;
	margin-top: 2%;
	font-size: 20px;

}

.form-div{
	margin-top: 4%;
	margin-left: 20%;
	font-size: 20px;

}

#form-contact{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 1%;
	max-width: 80%;
}

