#div-dashboard{
	float: left;
	width: 45%;
	margin-left: 10%;
	border: none;
	margin-top: 4%;
	padding: 30px;
}




#circle-dashboard {
    padding-top: 12%;
	background-color: #191167;
    width: 200px;
    height: 200px;
    color: white;
    
    margin-left: 18%;
}


#div-dashboard2{
	float: right;
	width: 32%;
	margin-right: 10%;
	border: none;
	margin-top: 4%;
	padding: 30px;
}
