#container{
	padding: 0%;
	position: relative;
}

#container #btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

#container #btn:hover {
  background-color: black;
}


#div-homepage{
	float: left;
	width: 80%;
	margin-left: 10%;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 30px;
}

#circle-homepage {
    
   /* behavior: url(PIE.htc);  remove if you don't care about IE8 */
	background-color: #191167;
    width: 230px;
    height: 230px;

    
    text-align: center;
    color: white;
    font-size: 30px;

    margin-left: 11%;
}