


.inputfile{

}

.relative {
	position: relative;
	width: 260px;
	height: 43px;

	/*border: 3px solid #73AD21;*/
}

.absolute{
	position: absolute;
	height: 37px;
	left: 0;
	bottom: 0;
}

.absolute2{
	position: absolute;
	left: 0;
	height: 37px;
	bottom: 0;
	/*border: 3px solid #73AD21;*/

}